#swiper-section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    height: auto;
    padding: 7rem 0;
}

.swiper {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 25rem !important;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
    display: block;
    width: 25rem;
    height: auto;
    object-fit: cover;
}

.swiper-wrapper {
    display: flex !important;
}

/*
.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background-color: white;
}
    */

@media(max-width: 768px) {

    .swiper-slide,
    .swiper-slide img {
        width: 20rem !important;
        height: auto;
    }
}