/* Styling for the Faculty Section */
.hod-faculty-section {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 2rem 1rem;
}

.hod-faculty-heading {
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
}
.hod-faculty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.faculty-card {
  display: flex;

  padding: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.1); /* Slightly lighter dark for cards */
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faculty-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.faculty-card img {
  width: 15rem;
  height: 20rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.faculty-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.faculty-designation {
  font-size: 1rem;
  font-weight: 300;
  color: #bbbbbb;
}

.faculty-content {
  max-width: 50%;
  text-align: left;
  padding: 1rem;
}
