#swiper-section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    height: auto;
    padding: 7rem 0;
}

.swiper {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.underline-events{
    width: 200px;
    height: 2px;
    background-color: white;
    color: whitesmoke;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 25rem !important;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
.swiper-slide .overlay{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-color: #d8dbdf;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.swiper-slide:hover .overlay{
    opacity: 1;
}
.swiper-slide img {
    display: block;
    width: 25rem;
    height: 35rem;
    object-fit: contain;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex !important;
}



@media(max-width: 768px) {

    .swiper-slide,
    .swiper-slide img {
        width: 20rem !important;
        height: auto;
        margin-bottom: 20px;
        
    }
    .underline-events{
        margin-bottom: 8rem;
    }
}