
#events{
    height: 100vh;
    width: 100%;
    height: auto;
}
.carousel {
    position: relative;
    width: fit-content;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    height: 70vh !important;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}


.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {

    min-width: 100%;
    height: 70vh !important ;
    transition: opacity 0.5s ease;
}

.carousel img {
    border-radius: 10px;
    height: 100%;
    width: 100% ;
    object-fit: contain !important;
 ;
}



@media (max-width: 600px) {
    button {
        padding: 8px;
    }

    .carousel{
        display: flex;
        gap: 20px;
    }
}

.btn{
    height: 50px;
    border-radius: 10px;
    width: 50px;
    background-color: #000000af;
    border: 2px solid #FFFFFF;
    color: rgb(21, 119, 255);
}

.btns{
    position: absolute;
    margin: 10px;
    bottom: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

}