.hod-faculty-heading {
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  height: 10px;
}

#pande-sir-box {
  margin-top: 10vw;
}

.faculty_main {
  width: 100%;

  height: auto;
  display: flex;
  flex-direction: row; /* Stack heading and content vertically */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.faculty-head {
  font-size: 3rem;
  font-weight: bold;
  color: aliceblue;
}

.faculty_second_box {
  width: fit-content;

  display: flex;
  flex-direction: column; /* Align image and text side by side */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.facultyImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

.head {
  text-align: center;
  font-size: 3em;
}
.underline-support {
  width: 200px;
  height: 2px;
  background-color: white;
  color: whitesmoke;
  margin: 0 auto;
  margin-top: 4px !important;
}
.facultyImg img {
  width: 70%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.faculty_content_child {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-family: "Dancing Script", cursive;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faculty_info {
  width: 100%;
  height: 10 0%;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: justify;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(240, 248, 255);
}

.faculty_firstBox {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pillars {
  padding: 4vw 0;
}

/* Responsive Styles */
@media (max-width: 480px) {
  .head {
    font-size: 2em;
    padding: 20px;
  }

  #Vaishali-maam-box {
    flex-direction: column !important;
    margin-top: 13vw;
  }
  #pande-sir-box {
    flex-direction: column-reverse !important;

    margin-top: 24vw;
  }

  .faculty_firstBox {
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 18px;
  }
  .faculty-head {
    font-size: 2rem;
    margin-bottom: 10px;

}
  .faculty_second_box {
    width: 100%;
    height: 50%;
    flex-direction: column; /* Stack image and text vertically */
    gap: 0rem;
  }

  .facultyImg {
    width: 100%;
    margin-left: 0px;
    height: 70%;
    margin-top: 75px;
  }

  .facultyImg img {
    width: 60%;
  }

  .faculty_content_child {
    width: 90%;
    height: 100%; /* Adjust height to auto for responsive design */
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 0px;
  }

  .faculty_info {
    width: 100%;
    font-size: 1em;
    text-align: justify;
    justify-content: center;
    margin-left: 0px;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .faculty_main {
    margin-top: 24vw;
  }
}
