.carousel .timeRunning {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 4px;
  background-color: rgb(0, 136, 255) !important;
  left: 0;
  top: 0;
  animation: runningTime 7s linear 1;
  border-radius: 20px;
}

.content .title {
  font-size: 100px;
  text-transform: uppercase;
  color: rgb(0, 136, 255) !important;
  font-weight: bold;
  line-height: 1;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.arrows button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(0, 136, 255) !important;
  color: #fff;
  border: none;
  outline: none;
}

#gallery {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap:50px
}

.carousel {
  width: 80% !important;
  height: 60% !important;
}
