/* General Styles */
#gallery {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section#gallery {
  text-align: center;
  padding: 20px;

}


/* Gallery Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* Removes gaps between images */
}

.gallery-item {
  width: 300px;
  height: 400px;
  border-radius: 15px;
  border: 3px solid rgb(218, 220, 224);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.underline-gallery{
  width: 200px;
    height: 2px;
    background-color: white;
    color: whitesmoke;
    margin: 0 auto;
    margin-bottom: 4rem;
}
/* Overlay Styling */
.card .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-color: #d8dbdf;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

/* Hidden Items */
.hidden {
  display: none;
}

/* Button Styles */
button.toggle-gallery {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #060a0d;
  color: white;
  border-color: white;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
}

button.toggle-gallery:hover {
  background-color: #e9ecf0;
  color: #101111;
  border-color: black;

}

button.toggle-gallery:active {
  transform: scale(0.98);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .gallery-item {
    width: 100%;
    height: auto;
  }
}