body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.section {
  padding: 2rem 1rem;
  text-align: center;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
}



.underline-about {
  width: 200px;
  height: 2px;
  background-color:white;
  color: whitesmoke;
  margin: 0 auto;
  margin-bottom: 18px !important;
}

.description {
  color: #d1d5db;
  max-width:1000px;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards {
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid #6e7887;
  border-radius: 10px;
  padding: 1.5rem;
}

.cards:hover {
  border-color: #dfe3e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}

.cards h3 {
  color: #0891b2;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.cards p {
  color: #d1d5db;
}

.vision, .mission {
  grid-column: span 2;
  text-align: left;
  font-size: 1.2rem;
}

blockquote {
  margin: 0;
  padding: 1rem;
  border-left: 4px solid #0891b2;
  color: #d1d5db;
  font-style: italic;
  font-size: 1.2rem;
}

blockquote.marathi {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}



.blockquote-author {
  margin-top: 1rem;
  font-weight: bold;
  color: #0891b2;
  font-size: 1rem;
}

.author-title {
  color: #9ca3af;
}

.stats {
  gap: 28rem;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-right: 2px;
}

.stat {
  text-align: center;
}

.count {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}

.stat-text {
  font-size: 1.5rem;
  color: #d1d5db;
}
.stat:hover{
  background: linear-gradient( #0891b2, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .title {
      font-size: 2.5rem;
  }
  .description {
      font-size: 1.2rem;
  }
  .grid {
      grid-template-columns: 1fr;
  }
  .vision, .mission {
      grid-column: span 1;
  }
  .cards {
      padding: 1rem;
  }
  blockquote {
      padding: 0.5rem;
  }
  .stats {
      flex-direction: column;
      gap: 2rem;
  }
  
}

@media (max-width: 480px) {

  .stats{
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .title {
      font-size: 1.8rem;
  }
  .description {
      font-size: 1rem;
  }

  blockquote.marathi {
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
  }

  .cards h3 {
      font-size: 1.4rem;
  }
  .cards p {
      font-size: 0.9rem;
  }
  .count {
      font-size: 3rem;
  }
  .stat-text {
      font-size: 1.2rem;
  }
}