/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 14px;
  background-color: rgb(33, 119, 189);
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top:hover {
  background-color: rgb(10, 98, 170);
}

/* Show Button */
.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}
