@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Aquire;
  transition: all 0.5s ease-in-out;
  background-color: black;
  min-width: 100vw;
  overflow-x: hidden;
}

body ul li {
  list-style: none;
}

body a {
  text-decoration: none;
}

#logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container .loader {
  position: absolute;
  top: 0px;
  max-width: 100vw;
  height: 100vh;
  z-index: -1;
  color: #272626;
}
.loader {

  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
}

.container .loader h1 {
  font-size: 300px;
  font-family: Cosi Azure;
  position: fixed;
  top: -50px;
  left: 0px;
}

.container .loader h2 {
  font-size: 300px;
  font-family: Cosi Azure;
  position: fixed;
  bottom: -70px;
  right: 0px;
}

.container img {
  width: 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.container nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  padding: 10px 0px;
}

.container nav .logo {
  padding: 0px 25px;
  margin-left: 30px;
  
}

.container nav .logo span {
  display: inline-block;
  font-size: 45px;

  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4),
    2px 2px 5px rgba(0, 0, 0, 0.6);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-left: 680px;
  
}
.container nav .menu ul li {
  display: inline-block;
}

.container nav .menu ul li a {
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4),
    2px 2px 5px rgba(0, 0, 0, 0.6);
    
}

.container .wrapper {
  width: 100vw;
  min-height: 90vh;

  overflow: hidden !important;

  display: flex;

  padding-top: 30px;
}

.content {
  /* width: 50%; */
}
.img {
  width: 50%;
}
.container .wrapper .content .h1 {
  width: 100%;
  overflow: hidden;
}

.content {
  
  padding: 0px 50px;
  color:white !important;
  
    
}

.typing-container {
  display: inline-block;
  width: 50%;
  height: 150px;
  font-size: 70px;
 font-weight: 600;
 margin-bottom: 30px;
 line-height: 1;
  
}
.caret {
  width: 2px;
  height: 100rem;
  margin-left: 5px;
  animation: blink 0.7s steps(2, start) infinite;
}
.content p {
  color: white;
  font-size: 30px !important;
}
.container .wrapper .content .h1 h1 {
  text-align: left !important;
  font-size: 110px;
  line-height: 90%;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4),
  2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4),
  2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4),
  2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6),
  2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6),
  2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6),
  2px 2px 3px rgba(0, 0, 0, 0.6);
}

.container .wrapper .content p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  text-align: left !important;
  line-height: 109%;
  width: 70%;
}

.container .wrapper .content a {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 19px;
  padding: 7px 20px;
  font-size: 19px;
  margin: 30px 0px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4),
    2px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .wrapper .content a:hover {
  color: #252424;
  text-shadow: none;
}

.container .wrapper .content .social ul li {
  display: inline-block;
}

.container .wrapper .content .social ul li a {
  padding: 0px 10px;
  border-radius: 0px;
  color: white;
  border: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4),
    2px 2px 5px rgba(0, 0, 0, 0.6);
}

.container .wrapper .img {
  width: 100%;
  position: relative;
  margin-left: 35px;
}

.container .wrapper .img .subimg {
  width: 86%;
  height: 360px;
  background: #fff;
  position: absolute;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 15px #000, 0px 0px 15px #000;
  box-shadow: 0px 0px 15px #000, 0px 0px 15px #000;
  overflow: hidden;
}

.container .wrapper .img .subimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container .wrapper .img .subimg.one .bg {
  width: 100%;
  height: 100%;
  background: #252525;
  position: absolute;
  z-index: 9;
  top: 0;
}

.container .wrapper .img .subimg.two {
  width: 64%;
  height: 250px;
  top: 120px;
  position: absolute;
  left: -50px;
}

.container .wrapper .img .subimg.two .bg2 {
  width: 100%;
  height: 100%;
  background: #252525;
  position: absolute;
  z-index: 9;
  top: 0;
}

.container .wrapper .img .subimg.three {
  width: 40%;
  height: 170px;
  top: 310px;
  position: absolute;
  right: 130px;
}

.container .wrapper .img .subimg.three .bg3 {
  width: 100%;
  height: 100%;
  background: #252525;
  position: absolute;
  z-index: 9;
  top: 0;
}
/*# sourceMappingURL=style.css.map */

.heading {
  font-size: 3rem;
  font-weight: bold;
  opacity: 0; /* Start hidden for animation */
  transform: translateY(50px); /* Initial position for animation */
  color: white;
}

@media (max-width: 600px) {
  #page2 {
    height: auto;
    width: 100%;
    padding-top: 2vh;
    position: relative;
  }

  #name-div {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    margin-bottom: 1vh;
    /* background-color: red; */
    overflow-y: hidden;
  }

  #name-div::-webkit-scrollbar {
    display: none;
  }

  #name-div h1 {
    font-size: 14.6vw;
    /* background-color:yellow; */
    margin-right: 2vw;
    display: inline-block;
  }
}

#name-div {
  width: 100%;
  white-space: nowrap;
  position: relative;
  overflow-x: auto;
  margin-bottom: 13vh;
  overflow-y: hidden;
}

#name-div::-webkit-scrollbar {
  display: none;
}

#name-div h1 {
  font-size: 8vw;
  /* background-color:yellow; */
  margin-right: 2vw;
  display: inline-block;
  /* animation-name: namemoving; */
  /* animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}



#page2 {
  height: auto;
  width: 100%;
  position: relative;
  color: white;
}

.h-text:hover {
  color: rgb(0, 132, 255);
}

.section-outer {
  width: 100%;
  text-align: center;
}

.heading {
  opacity: 0; /* Start hidden */
  transform: translateY(50px); /* Start moved down */
  transition: opacity 0.5s, transform 0.5s; /* Smooth transition */
  font-size: 80px;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  left: -100%; /* Hidden off-screen */
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 20px;
  z-index: 2;
  transition: transform 0.5s ease;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.sidebar-nav {
  display: flex !important;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-link:hover {
  background-color: #444;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.open-btn {
  color: white;
  display: none;
  position: absolute;
  right: 30px;
  top: 23px;
}
.open-btn i {
  font-size: 30px;
}
.close-btn {
  color: white;
}
.close-btn i {
  font-size: 30px;
}
/* Main content styling */

/* // Home page and nav bar source code  */
.linkedin {
  color: rgb(0, 182, 243);
}

.instagram {
  color: rgb(255, 3, 150);
}

.container .wrapper .content .social ul li a i {
  font-size: 40px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 40px;
  }
  .menu {
    display: none;
  }

  .open-btn {
    display: block;
  }
  nav{
    margin-top:3px !important;
  }

  .container .loader h1 {
    font-size: 145px;
    font-family: Cosi Azure;
    position: fixed;
    top: 51px;
    left: 0px;
  }

  .container .loader h2 {
    font-size: 112px;
    font-family: Cosi Azure;
    position: fixed;
    bottom: 77px;
    right: 15px;
  }

  .loader {
    max-width: 100vw !important;
  }

  .wrapper {
    flex-direction: column;
    height: auto !important;
  }
  .content {
    width: 100%;
    padding: 0 12px;
    margin-top: 65px;
    
  }
  .typing-container{
    height: 150px;
    margin-bottom: 20px;
    width: 85%;
    font-size: 60px;
  }

  .container .wrapper .content .h1 h1 {
    font-size: 60px;
    line-height: 90%;
  }

  .container .wrapper .content p {
    font-size: 22px !important;
    line-height: 155%;
    width: 100%;
  }

  .img {
    display: none !important;
  }
  #logo {
    width: 60px;
    height: 60px;
    margin-left: 0px;
  }
  .container nav {
    padding: 8px 0px;
  }

  .container nav .logo {
    padding: 0px 19px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 0px;
  }
}


.face-effect {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  background-color: #00BB00; /* Your preferred color */
  color: white;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Smooth transition */
  cursor: pointer;
}

