/* Ensuring scroll behavior and page layout */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.member-container {
  display: flex;
  height: 100vh;
  width: auto;
  position: relative;
  z-index: 1;
}

.team-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  width: max-content;
  color: white;
}

.team-member {
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member h3 {
  margin: 15px 0 5px;
  font-size: 1.5rem;
}

.team-member p {
  margin: 0;
  color: #9ca3af; /* Grayish text */
}

.member-img-box {
  width: 60px !important;
  height: 60px !important;
}

.member-post{
  font-size: 18px !important;
  margin-top: 10px !important;
}
.team-lead-inner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 10px;
}

.team-member-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  padding: 20px;
}
.member {
  width: 200px;
}

.member-heading {
  color: white;
}

.leads {
  font-size: 35px;
  padding-bottom: 10px;
}

.leads-outer {
}

.leads-outer {
  padding-top: 30px;
}
.social-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}
.social-icon i {
  color: rgb(0, 153, 255);
  font-size: 25px;
}
.social-icon i:hover {
  scale: 1.2;
  transition: all 0.3s ease-in;
}

.member-box {
  border: 1px solid rgba(255, 255, 255, 0.508);
  padding: 10px;
  border-radius: 20px;
}

.member-heading {
  color: white;
  text-align: center;
  padding: 10px;
}

.skip-btn {
  padding: 20px;
  bottom: 10%;
  top: 10%;
}
.skip-btn i {
  color: white;
  font-size: 30px;
}
